.about-section-title {
  position: relative;
  padding-top: 15px;
}

.about-section-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 999px;
  background-color: var(--accent);
  box-shadow: 0 0px 60px rgba(250, 204, 21, 0.5);
}

.about-section-text {
  font-size: 16px;
  color: var(--text-muted);
  margin-bottom: 14px;
}

.about-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 18px 0 22px;
}

.about-section-list-item {
  margin-bottom: 15px;
}

.about-section-schedule-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.about-section-schedule-list {
  font-size: 14px;
  color: var(--text-muted);
}

.about-section-container-div {
  padding: 20px;

  border: 1px dashed rgba(55, 65, 81, 0.9);
  border-radius: 15px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.5);
  max-width: 775px;

  display: flex;
  align-items: center;
}

.about-section-schedule-list span {
  color: var(--accent);
  font-weight: 600;
  margin-right: 10px;
}

.about-section-schedule-list li {
  margin-bottom: 5px;
}

.about-section-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-section-schedule-list {
    column-count: 2;
    column-gap: 100px;
  }

  .about-section-schedule-list li {
    break-inside: avoid;
  }

  .about-section-icon {
    width: 60px;
    height: 60px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px dashed rgba(55, 65, 81, 0.9);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    flex-shrink: 0;
    margin-right: 40px;
  }

  .about-section-icon svg {
    fill: var(--accent);
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1158px) {
  .about-section-text:last-of-type {
    margin-bottom: 0;
  }

  .about-section-list {
    margin-top: 20px;
  }
}
