.clubs-section-text {
  margin-bottom: 25px;
}

.clubs-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.clubs-section-list-item {
  padding: 15px;
}

.clubs-photo {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.clubs-section-list-div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.clubs-section-list-item-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.clubs-section-list-item-text {
  font-size: 15px;
  color: var(--text-muted);
  margin-bottom: 30px;
}

.clubs-section-list-item-link {
  display: block;
  text-align: center;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--accent);
  color: #111217;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  text-transform: none;

  transition: transform var(--transition-fast),
    box-shadow var(--transition-fast);
}

.clubs-section-list-item-link:hover,
.clubs-section-list-item-link:focus-visible {
  transform: translateY(-1px) scale(1.02);
  box-shadow: 0 0px 60px rgba(250, 204, 21, 0.1);
}

@media screen and (min-width: 768px) {
  .clubs-section-list-item {
    display: flex;
    flex-direction: row;
  }

  .clubs-photo {
    min-width: 250px;
  }
}

@media screen and (min-width: 1158px) {
  .clubs-section-list {
    flex-wrap: nowrap;
  }

  .clubs-section-list-item {
    display: block;
    width: calc((100% - 2 * 20px) / 3);
    flex-direction: unset;
    gap: unset;
  }

  .clubs-photo {
    min-width: 350px;
  }
}
