.footer {
  border-top: 1px solid rgba(249, 250, 251, 0.06);
  background-color: #111217;
}

.footer-div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  margin-bottom: 16px;
}

.footer-logo {
  padding-block: 4px;
}

.footer-logo .part-logo {
  color: var(--accent);
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-nav-list-item-link {
  font-size: 16px;
  color: var(--text-muted);
}

.footer-nav-list-item-link:hover {
  color: var(--text);
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-icon {
  display: block;
}

.footer-copyright-text {
  font-size: 14px;
  color: var(--text-muted);
  line-height: 1.5;
}

@media screen and (min-width: 1158px) {
  .footer-nav-list {
    align-items: center;
    gap: 40px;
  }

  .footer-div {
    flex-direction: row;
    justify-content: space-between;
  }
}
