.mobile-menu {
  position: fixed;
  inset: 0;
  z-index: 50;

  background-color: var(--bg);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  padding-top: 25px;
  padding-bottom: 25px;
  gap: 100px;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-logo {
  font-size: 20px;
}

.mobile-menu-nav-list {
  font-size: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu-nav-list-item-link.nav-link--active {
  color: var(--accent);
}

.mobile-menu-nav-list-item:hover,
.mobile-menu-nav-list-item:focus {
  color: var(--accent);
}

.mobile-menu-social-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mobile-menu-social-list-item svg {
  fill: #111217;
}

body.no-scroll {
  overflow: hidden;
}
