/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./global.css');
@import url('./visually-hidden.css');

/* Sections style */
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
@import url('./clubs.css');
@import url('./subscriptions.css');
@import url('./programs.css');
@import url('./benefits.css');
@import url('./about.css');
@import url('./contacts.css');

@import url('./footer.css');
